.SectionDescubreComoViajamos
    max-width: 1448px
    margin: 0 auto
    width: 100%
    height: 860px
    position: relative
    font-family: $font-primary
    @media screen and (min-width: 769px)
        height: 490px
    .containerBackground
        position: absolute
        width: 100%
        height: 100%
        .containerImg
            width: 100%
            height: inherit
            position: relative
            & img
                width: 100%
                height: 100%
                object-fit: cover
    .containerInfo
        position: absolute
        width: 100%
        height: 100%
        background: #054166B2
        display: flex
        flex-direction: column
        align-items: center
        @media screen and (min-width: 769px)
            flex-direction: row
        .containerInformacion
            width: 90%
            height: 100%
            display: flex
            flex-direction: column
            align-items: flex-start
            @media screen and (min-width: 769px)
                padding-left: 40px
                width: 50%
            .title
                padding-top: 30px
                @media screen and (min-width: 769px)
                    padding-top: 100px
                & span
                    font-size: 24px
                    font-weight: 700
                    line-height: 29.05px
                    text-align: left
                    color: #FFFFFF
                    @media screen and (min-width: 769px)
                        font-size: 32px
                        line-height: 38.73px
            .text
                padding-top: 10px
                & p
                    font-family: $font-secondary
                    font-size: 16px
                    font-weight: 600
                    line-height: 27.2px
                    text-align: left
                    color: #FFFFFF
            .containerButton
                padding-top: 30px
                .button
                    padding: 16px
                    gap: 8px
                    border-radius: 8px
                    border: 2px
                    opacity: 0px
                    border: 2px solid #FFFFFF
                    box-shadow: 0px 6px 12px 0px #00000029
                    cursor: pointer
                    & a
                        text-decoration: none
                        & span
                            font-size: 16px
                            font-weight: 500
                            line-height: 16px
                            text-align: left
                            color: #FFFFFF
        .containerCarrusel
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            @media screen and (min-width: 769px)
                width: 50%
            .containerImagen
                .img
                    width: 300px
                    height: 159px
                    position: relative
                    @media screen and (min-width: 769px)
                        width: 470px
                        height: 234px
                    & img
                        margin-top: 40px
                        width: 100%
                        height: 100%
                        object-fit: cover
            .cointainerSlider
                width: 358px
                height: 154px
                border-radius: 10px 90px 10px 90px
                background: #009DE499
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center
                @media screen and (min-width: 769px)
                    width: 529px
                    height: 186px
                .containerArrow
                    width: 32px
                    height: 32px
                    position: relative
                    color: #FFFFFF
                    cursor: pointer
                    & img
                        width: 100%
                        height: 100%
                        color: #FFFFFF
                        object-fit: cover
                .Info
                    display: flex
                    justify-content: center
                    flex-direction: column
                    align-items: center
                    .InfoText
                        display: flex
                        align-items: center
                        justify-content: center
                        flex-direction: column
                        @media screen and (min-width: 769px)
                            padding: 0 30px
                        & span
                            font-size: 20px
                            font-weight: 600
                            line-height: 24.2px
                            text-align: center
                            color: #FFFFFF
                            @media screen and (min-width: 769px)
                                font-size: 24px
                                line-height: 12px
                    .InfoTextDynamic
                        padding-top: 30px
                        & span
                            font-size: 20px
                            font-weight: 900
                            line-height: 24.2px
                            text-align: center
                            color: #FFFFFF
                            @media screen and (min-width: 769px)
                                font-size: 24px
                                line-height: 12px
