.SectionSolucionesLogistica
    max-width: 1448px
    margin: 0 auto
    width: 100%
    height: 2280px
    font-family: $font-primary
    display: flex
    flex-direction: column
    position: relative
    background-color: #A5B7C24D
    @media screen and (min-width: 769px)
        height: 860px
    .backgroung
        width: 100%
        height: 100%
        position: absolute
        background-color: #EAEAEA
        border-radius: 900px 0
    .Content
        width: 100%
        height: 100%
        position: absolute
        .containerTitle
            width: 100%
            padding-top: 40px
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 20px
            @media screen and (min-width: 769px)
                padding-top: 80px
            .title
                display: flex
                margin-bottom: 20px
                & span
                    font-size: 32px
                    font-weight: 600
                    line-height: 38.73px
                    text-align: center
                    color: #009DE4
                    @media screen and (min-width: 769px)
                        line-height: 28px
            .text
                display: flex
                flex-direction: row
                align-items: center
                flex-wrap: wrap
                justify-content: center
                & span
                    font-family: $font-secondary
                    font-size: 24px
                    font-weight: 400
                    line-height: 30px
                    color: #424242
                .img
                    width: 90px
                    height: 30px
                    position: relative
                    margin: -10px 5px 0px 5px
                    & img
                        width: 100%
                        height: 100%
                        object-fit: cover
        .containerCards
            display: flex
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            justify-content: space-evenly
            .card
                margin: 20px 0
                width: 309px
                height: 160px
                padding: 10px 24px 10px 24px
                border-radius: 40px
                border: 1px
                box-shadow: 0px 6px 12px 0px #00000029
                background: #FFFFFF
                display: flex
                flex-direction: column
                align-items: center
                @media screen and (min-width: 769px)
                    width: 380px
                    height: 160px
                .title
                    width: 100%
                    display: flex
                    justify-content: center
                    & span
                        font-family: $font-secondary
                        font-size: 20px
                        font-weight: 700
                        line-height: 34px
                        text-align: center
                        color: #42A3E3
                .text
                    width: 95%
                    margin: 0 auto
                    & p
                        font-family: $font-secondary
                        font-size: 16px
                        font-weight: 400
                        line-height: 22px
                        text-align: left
                        color: #585858
                        & b
                            font-weight: 700
